@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --teal: rgb(0, 97, 97);
  --white: white;
  --off-white: rgb(224, 224, 224);
  --grey-shadow: rgb(234, 234, 234);
  --light-teal: rgb(173, 216, 230);
  --grey-text: rgb(170, 169, 169);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: var(--grey-shadow);
}

p {
    text-align: center;
}