@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --teal: rgb(0, 97, 97);
  --white: white;
  --off-white: rgb(224, 224, 224);
  --grey-shadow: rgb(234, 234, 234);
  --light-teal: rgb(173, 216, 230);
  --grey-text: rgb(170, 169, 169);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: var(--grey-shadow);
}

.header {
  padding: 1rem 5rem;
  background: var(--white);
  box-shadow: 0 0.5px 10px var(--grey-text);
  display: flex;
  justify-content: space-between;
}

.mobile-header {
  display: none;
}

.header > h1 {
  color: var(--teal);
  padding-right: 3rem;
}

.nav-1 > ul {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  align-items: center;
  margin: 0;
}

.nav-1 a,
.nav-2 a {
  text-decoration: none;
  color: var(--grey-text);
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-weight: 600;
}

.nav-1 a:last-child {
  margin-right: 0;
}

.nav-1 .home {
  color: var(--teal);
}
.nav-1 .home path {
  stroke: var(--teal);
}

.nav-2 a {
  padding: 0;
  margin-right: 0;
}

.icon {
  margin-right: 0.5rem;
}

.mobile-navigation {
  display: none;
}

.container {
  width: 40rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.join {
  background-color: var(--teal);
  text-decoration: none;
  color: var(--white);
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  display: inline-block;
  transition: all 0.5s ease-in;
}

.join:hover {
  transform: translateY(-2px);
}

.hero {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.mobile-hero {
  display: none;
}

.country {
  flex-shrink: 0;
  height: 50px;
}

.country > img {
  margin-top: rem;
}

.balance {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-size: 0.7rem;
}

.amount > p:nth-child(2) {
  margin: -0.12rem 0;
}

.amount > p:nth-child(3) {
  color: var(--grey-text);
}

.number {
  font-size: 2.5rem;
  font-weight: 600;
}

.convert-add {
  display: flex;
  gap: 0.5rem;
}

.convert-add > a {
  text-decoration: none;
  color: var(--teal);
  font-weight: 600;
}

.convert,
.add {
  padding: 0.2rem 0.7rem;
  box-shadow: 1px 1px 5px var(--grey-text), -1px -1px 5px var(--grey-text);
  border-radius: 0.3rem;
  display: flex;
  gap: 0.5rem;
}

.actions {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.actions > a {
  text-decoration: none;
  color: var(--teal);
  font-weight: 600;
}

.actions img {
  width: 1rem;
}

.act {
  box-shadow: 1px 1px 5px var(--grey-text), -1px -1px 5px var(--grey-text);
  border-radius: 0.3rem;
  padding: 0.2rem 0.7rem;
  display: flex;
  gap: 0.5rem;
}

.beneficiaries {
  margin-bottom: 1.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title > a {
  color: var(--teal);
}

.add-ben {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.transactions > p:first-child {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

@media (max-width: 1100px) {
  .nav-1 > ul {
    gap: 3rem;
  }
}

@media (max-width: 1025px) {
  .nav-1 > ul {
    gap: 0.5rem;
  }

  .header {
    padding: 1rem 2rem;
  }
}



/* TABLET */
@media (max-width: 769px) {
  .header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 0.5px 10px var(--grey-text);
  }

  .mobile-header > h1 {
    color: var(--teal);
  }

  .acc-ham {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 1.5rem;
    height: 0.15rem;
    background-color: var(--teal);
    margin: 0.3rem 0;
    border-radius: 2rem;
  }

  .close .bar1 {
    transform: translate(0, 0.45rem) rotate(45deg);
  }

  .close .bar2 {
    opacity: 0;
  }

  .close .bar3 {
    transform: translate(0, -0.45rem) rotate(-45deg);
  }

  .nav-1 {
    display: none;
  }

  .icon {
    margin-right: 0;
  }

  .text {
    display: none;
  }

  .mobile-navigation {
    display: block;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--grey-shadow);
    position: fixed;
    top:4.3rem;
    left: 0;
    z-index: 10;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    visibility: hidden;
  }

  .mobile-navigation.active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  .list-1,
  .list-2 {
    list-style: none;
  }

  .list-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .list-1 > li {
    padding: 1rem;
  }

  .list-2 > li {
    border-bottom: 1px solid var(--light-teal);
    padding: 1rem;
  }

  ul > li > a {
    text-decoration: none;
    color: var(--teal);
    font-weight: 700;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  .actions {
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  .hero {
    display: none;
  }

  .mobile-hero {
    display: block;
  }

  .mobile-country-amount {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .mobile-convert-add {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .mobile-convert-add > a {
    text-decoration: none;
    color: var(--teal);
    font-weight: 600;
    /* display: block;
    width: 100%; */
  }
  
  .mobile-convert,
  .mobile-add {
    padding: 0.2rem 1rem;
    box-shadow: 1px 1px 5px var(--grey-text), -1px -1px 5px var(--grey-text);
    border-radius: 0.3rem;
    display: flex;
    gap: 1rem;
  }

}

@media (max-width: 425px) {
  .actions > a {
    display: block;
    width: 48.5%;
  }

  .mobile-convert-add > a {
    display: block;
    width: 100%;
  }
}

@media (max-width: 285px) {
  .actions > a {
    display: block;
    width: 100%;
  }
}
